@using Thyme1.Models; 
@model IEnumerable<Thyme1.Models.ProgressPhotos>

<style>
    h1 {
        text-align: center;
        color: white;
    }
    #center {
        width: 80%;
        height: auto;
    }
</style>

<a href='javascript:history.go(-1)'>Return to previous page</a>

<h1>Progress Photos</h1>

<div class="d-flex justify-content-center align-items-center p-5">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" >
        @foreach (var photo in Model)
        {
            <a href="@("images/"+photo.Name)">
                <img src="@("/images/"+photo.Name)" id="center" class="justify-content-center" /> </a>
                <br />
            <a asp-controller="ProgressPhoto" asp-action="Delete" asp-route-id="@photo.ProgressPhotoID" class="justify-content-center">Delete</a>
            <br />
                }


        </div>
</div>
<!-- Gallery -->
   

