@{
    ViewData["Title"] = "Home Page";
}
<style>
        .home-text {
            padding: 70px 0;
            text-align: center;
            font-family: 'Antic';
            font-weight: lighter;
        }
        p {
            margin: 35px 275px 50px 275px;
        }
        </style>

<div class="home-text">
    <h2>Take Some Thyme For Your Plants</h2>
    <p>Thyme is here to make sure you take the time to give your plants what they need! Keep track of all the plants in your collection and create custom reminders so that you never miss a watering! Make sure they're well fed too with custom fertilizing reminders. You'll also never forget the last time you watered or fertilized when you log your plant chores each time you do them!</p>
</div>
