@model Thyme1.ViewModels.AddPlantRoomViewModel

<h1>Add Plant Room</h1>


    <form asp-controller="PlantRoom" asp-action="ProcessCreatePlantRoomForm" method="post">
        <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <br />
 
    <input type="submit" value="Create Plant Room" />
</form>