@model List<Thyme1.Models.PlantRooms>

@using Thyme1.Models


<style>
    table tr td, table tr th {
        background-color: rgba(0, 15, 8, 0.3) !important;
        color: white;
        border-collapse: separate;
        border-spacing: 10px 10px;
        justify-content: space-around;
    }

    h1 {
        color: white;
        align-content: center;
    }

    .table {
        margin: auto;
        width: 50% !important;
    }

    .text-my-own-color {
        color: white !important;
    }
</style>

<a href='javascript:history.go(-1)'>Return to previous page</a>

@if (Model.Count == 0)
{
    <p class="header">No Plant Rooms Added!</p>
}
else
{

    <div id="box" class="row justify-content-center">
        <div class="col-auto">
            <h1>Plant Rooms</h1>
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model)
                    {
                        <tr>
                            <td>@room.Name</td>
                            <td><a class="text-my-own-color" asp-controller="PlantRoom" asp-action="Delete" asp-route-id="@room.Id">Edit Plant</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


<p>
    <a class="text-my-own-color" asp-controller="PlantRoom" asp-action="Create">Add Room</a>
</p>



