@using Thyme1.ViewModels;

@model AddPlantViewModel;

<h1>Add Event</h1>

<form method="post">
    <div asp-controller="Plants" asp-action="Add" class="form-group">
        <label asp-for="PlantName">Name</label>
        <input asp-for="PlantName" />
        <span asp-validation-for="PlantName"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="PlantGenus">Genus</label>
        <input asp-for="PlantGenus" />
        <span asp-validation-for="PlantGenus"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="LastWatered">Last Watered</label>
        <input asp-for="LastWatered" />
        <span asp-validation-for="LastWatered"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastFertilized">Last Fertilized</label>
        <input asp-for="LastFertilized" />
        <span asp-validation-for="LastFertilized"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlantRoomId">Plant Room</label>
        <select asp-for="PlantRoomId" asp-items="Model.PlantRooms"></select>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ProgressPhoto" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="ProgressPhoto" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="ProgressPhoto" class="text-danger"></span>
        </div>
        <input type="submit" value="Add Plant" />
</form>

